/*******************************
            Global
*******************************/

html {
  font-size: 14px;
}


/*******************************
            Global
*******************************/
.ui.paragraph{
  font-size: 1.25em;
}

.ui.inverted.masthead.segment.header{
    width: 100%;
    background-image: url(../img/bg.jpg);
    height: 150px;
    text-align: center;
    position: relative;
    top:0px;

}



.ui.vertical.segment.weeklyupdates{
    width: 100%;
    top: 150px;
    position:absolute;
    text-align: center;
}

ui.vertical.segment.groupmembers{
    width: 100%;
    top: 150px;
    position:fixed;

}